@import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);

.mt-100 {
  margin-top: 100px;
}

.modal-button {
  background-color: rgb(29, 226, 226);
  border-color: rgb(29, 226, 226);
  border-radius: 6px;
  color: white;
  font-size: 17px;
  padding-right: 76px;
  padding-left: 76px;
}

.card {
  border-radius: 3vh;
  height: 500px;
  margin: auto;
  max-width: 380px;
  padding: 7vh 6vh;
  align-items: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 767px) {
  .card {
    width: 90vw;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-img {
  padding: 20px 0px;
  margin-left: 65px;
  width: 40%;
}

.card-img img {
  opacity: 0.7;
}

.card-title {
  margin-bottom: unset;
  display : flex;
  justify-content: center;
  align-items: center;
}

.card-title p {
  color: #e69d2f;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: unset;
}

.card-text p {
  color: grey;
  font-size: 25px;
  text-align: center;
  padding: 3vh 0;
  font-weight: lighter;
}

.btn {
  width: 100%;
  align-items: center;
  appearance: none;
  background-color: #e69d2f;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#d8ba8d 0 -3px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.btn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}