@import '~antd/dist/antd.css';

.ant-page-header {
  background-color: #dccec6;
}

.ant-page-header-heading {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.searchBar {
  margin-top: 24px;
  width: calc(100vw - 580px);
  border-radius: 10px;
}

.ant-input-search-button {
  background-color: #fdb13f;
  border-color: #fdb13f;
}

.ant-input-search-button:hover {
  background-color: #ff9900;
  border-color: #ff9900;
  cursor: pointer;
}

.login {
  padding: 3px 30px;
  height: 40px;
  font-weight: bold;
  background-color: #fdb13f;
  border-color: #fdb13f;
  border: solid 2px #fdb13f;
  color: black;
  border-radius: 8px;
}

.login:hover {
  background-color: #ff9900;
  border: solid 2px white;
  color: white;
}

.login:focus {
  background-color: #ff9900;
  border: solid 2px white;
  color: white;
}
